<div class="kaidad-home-header" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left third">
            <div class="topcoat-navigation-bar__item center">
                <a class="topcoat-icon-button--quiet" ng-click="slidePage('/')">
                    <i class="icon-home"></i>
                </a>
            </div>
            <div class="topcoat-navigation-bar__item center">
                <a class="topcoat-icon-button--quiet" ng-class="{'is-disabled': backHistoryEmpty}"
                   ng-click="navBack()">
                    <i class="icon-chevron-left"></i>
                </a>
            </div>
            <div class="topcoat-navigation-bar__item center">
                <a class="topcoat-icon-button--quiet" ng-class="{'is-disabled': forwardHistoryEmpty}"
                   ng-click="navForward()">
                    <i class="icon-chevron-right"></i>
                </a>
            </div>
            <div ng-show="showNavToLocation" class="topcoat-navigation-bar__item center">
                <a class="topcoat-icon-button--quiet" ng-class="{'is-disabled': disableNavToLocation}"
                   ng-click="followCurrentLocationIfInMapBounds()">
                    <i class="icon-location-arrow"></i>
                </a>
            </div>
            <div ng-show="showNavToLocation" class="topcoat-navigation-bar__item center">
                <a class="topcoat-icon-button--quiet" ng-click="slidePage('/mapView/root')">
                    <i class="icon-globe"></i>
                </a>
            </div>
        </div>
        <div class="topcoat-navigation-bar__item center third">
            <div ng-show="headerMessage" class="topcoat-navigation-bar__title"><i
                    class="icon-1plusx">{{headerMessage}}</i></div>
        </div>
        <div class="topcoat-navigation-bar__item right third">
            <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
                <i ng-show="showBusy" class="icon-spinner icon-spin"></i>
                <i ng-hide="showBusy" class="icon-gear"></i>
            </a>
        </div>
    </div>
</div>
